*
    padding: 0
    margin: 0
    box-sizing: border-box
    border: none
    outline: none
    font: inherit
    transition: inherit

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap')

$black: #07080F

body
    min-height: 100vh
    color: $black
    background-color: #fff
    font-family: 'Inter', sans-serif

img
    width: 100%
    max-width: 100%
    display: block

a,
button
    text-decoration: none
    color: $black
    transition: all ease .3s
    background-color: transparent
    &:active
        transform: scale(.98)

    &:hover
        opacity: .8

.btn
    font-weight: 500
    font-size: 16px
    line-height: 20px
    display: inline-block
    text-align: center
    color: #fff
    padding: 15px 20px 14px
    min-width: 200px
    width: 100%
    max-width: 450px
    margin: 0 5px 10px
    border-radius: 11px
    background-color: blue
    box-shadow: none !important
    &[disabled]
        background-color: #fff
        opacity: .4

    img
        display: inline-block
        width: 25px
        height: 25px
        vertical-align: middle
        margin: 0 3px 0 0
        border-radius: 0

    &.viber
        background-color: #794a9a
    &.whatsapp
        background-color: #24cc63
    &.telegram
        background-color: #16b0f2

ol
    padding: 0 0 0 25px
    font-weight: 400
    font-size: 20px
    line-height: 140%

p
    font-weight: 400
    font-size: 20px
    line-height: 140%

ul
    list-style: none
    li
        font-weight: 400
        font-size: 20px
        line-height: 140%
        padding-left: 20px
        margin: 0
        position: relative
        &::before
            content: ''
            display: inline-block
            position: absolute
            top: 9px
            left: 5px
            width: 7px
            height: 7px
            border-radius: 50%
            background-color: #fff

hr
    background-color: rgba(255, 255, 255, .3)
    height: 1px
    margin: 20px 0 20px
