@import 'normolize'
@import 'elements'
@import 'header'
@import 'footer'

main
    text-align: center
    padding: 70px 16px
    img
        max-width: 600px
        margin: 0 auto 40px
        border-radius: 20px

h1
    font-size: 25px
    font-weight: bold
    margin: 0 auto 4px
    max-width: 450px

p
    margin: 0 auto 20px
    font-size: 14px
    line-height: 120%
    max-width: 340px

.wrap
    display: flex
    justify-content: center
    flex-wrap: wrap
    align-items: center
